aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
deepai
dnspython
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
kurigram==2.2.13
hachoir
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==11.3.0
psutil
ntgcalls==2.0.6
py-tgcalls==2.2.8
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
pykeyboard
python-whois
pymongo==3.12.0
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
uvloop;sys_platform != "win32"
wget
yt-dlp==2025.10.14
youtube-search-python
youtube-search
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip

