aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
kurigram==2.2.6
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==11.2.1
psutil
ntgcalls==2.0.5
py-tgcalls==2.2.5
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp==2025.6.30
git+https://github.com/CertifiedCoders/youtube-search-python.git@v1.6.6.post1
